<a href="/logout"> Logout </a>
<form method="POST">
  <input type="hidden" name="_method" value="PUT">
  Title: <input type="text" name="name" value=<%= @item_to_edit.name %>><br>
  Description: <textarea name="description"><%= @item_to_edit.description %></textarea><br>
  Price: <input type="text" name="price" value=<%= @item_to_edit.price %>><br>
  Photo: <input type="text" name="photo_url" value=<%= @item_to_edit.photo_url %>><br>

  <input type="submit" value="Update">
</form>