<div class="form_toggle">
  <button class="add"> Add Comment </button>

  <form class="add_form" action="/items/1/comments" method="POST">
    <label> Comment: </label>
   <textarea rows="4" cols="50" name="content" form="add_form">
   </textarea>
  </form>
</div>
