

<div class="background">

  <div class="logo">
    <h1>DBC Marketplace</h1>
    <img src="http://cdn.evbuc.com/images/1037254/48276486300/1/logo.png" style="padding:0;">
  </div>
<form action="/login" method="post" class="pure-form" class="login">
  <fieldset>
  <legend> Login</legend>
  <br><br>
  <input type="email" name="email" placeholder="Email"><br><br>
  <input type="password" name="password" placeholder="password"><br><br>
  <input type="submit" class="pure-button pure-button-primary"> or <a href="/signup"> Sign up ! </a>
  </fieldset>
</form>


</div>

