

<div class="background">

  <div class="logo">
    <!-- Generally not a good idea to hotlink to images you don't own.
          Not even for copyright reasons. It could get deleted then your
          app changes. Or they could replace the image with somehting
          you might not want to be associated with. -->
    <img src="http://cdn.evbuc.com/images/1037254/48276486300/1/logo.png" style="padding:0;">
  </div>
<form action="/login" method="post" class="pure-form" class="login">
  <fieldset>
  <legend> Login</legend>
  <br><br>
  <input type="email" name="email" placeholder="Email"><br><br>
  <input type="password" name="password" placeholder="password"><br><br>
  <input type="submit" class="pure-button pure-button-primary"> or <a href="/signup"> Sign up ! </a>
  </fieldset>
</form>


</div>

