<form action="/login" method="post">
  Email
  <input type="text" name="email">
  Password
  <input type="password" name="password">
  <input type="submit"> or <a href="signup"> Sign up ! </a>
</form>
