<form action="/signup" method="post">
  Name
  <input type="text" name="name">
  Email
  <input type="text" name="email">
  Password
  <input type="password" name="password">
  Password, again
  <input type="password" name="password_confirmation">
  <input type="submit" value="signup">
  <%= @message %>
</form>
